<% content_for :header do %>
<p>Bienvenido <%= @resource.username %>!</p>
<% end %>

<% content_for :subheader do %>
<p>Te has registrado con &eacute;xito en la plataforma.</p>
<% end %>


<% content_for :main_content do %>
<p>Como último paso es necesario que confirmes tu correo electrónico. Haz click en el siguiente enlace:</p>
<p style="text-align: center;">
  <%= link_to 'Confirmar mi cuenta',
    confirmation_url(@resource, confirmation_token: @token),
    class: "es-button",
    style: "mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#FFC80A;border-width:10px 20px 10px 20px;display:inline-block;background:#FFC80A;border-radius:3px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center;"
%>
</p>
<% end %>

<% content_for :footer do %>
<p>Si tú no solicitaste esto, por favor ignora este correo.</p>
<% end %>