<% content_for :header do %>
<p>Hola <%= @resource.username %>!</p>
<% end %>

<% content_for :subheader do %>
<p>Alguien ha solicitado el cambio de tu contraseña.</p>
<% end %>


<% content_for :main_content do %>
<p style="text-align: left;">Puedes hacerlo visitando el siguiente enlace:</p>
<p style="text-align: center;">
  <%= link_to 'Cambiar contraseña',
    "#{Rails.configuration.ui_base_url}/password/new_password?#{{reset_password_token: @token}.to_query}",
    class: "es-button",
    style: "mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#FFC80A;border-width:10px 20px 10px 20px;display:inline-block;background:#FFC80A;border-radius:3px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center;"
    %>
</p>
<% end %>

<% content_for :footer do %>
<p>Si tú no solicitaste esto, por favor ignora este correo. Tu contraseña no va a cambiar a menos que hayas visitado el enlace anterior.</p>
<% end %>
